<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles/main.css" />
  <title>Books I've Read</title>
</head>

<main>
<h1>Add your new book information below.</h1>

    <div class="addBookForm">
        <form class="addBook" action="/add" method="post">
            <input type="text" name="newBook" placeholder="New book title" autocomplete="off" autofocus="true" />
            <input type="text" name="newBookFirst" placeholder="Author's first name" autocomplete="off" autofocus="true" />
            <input type="text" name="newBookLast" placeholder="Author's last name" autocomplete="off" autofocus="true" />
            <input type="text" name="newBookisbn" placeholder="Book isbn" autocomplete="off" autofocus="true" />
            <!-- <button type="submit" name="list" value=>+</button> -->
            <button type="submit" name="list" >Add this book +</button>
        </form>
    </div>
    <br><br><br>
    <button class="goHome" type="submit" id="page" value="page" name="home" onclick="window.location.href='/'">Home</button>


</main>